.theme {
  --color-bg-primary: #F7F7F7;
  --color-bg-secondary: white;
  --color-bg-description: #FBE96B;
  --color-border: #C4C4C4;

  --color-text-primary: rgba(0,0,0,0.6);
  --color-text-secondary: black;
  --color-button-primary: #47A0F4;
  --color-button-secondary: white;

  --color-tab-default: rgba(0,0,0,0.5);
  --color-tab-active:  rgba(0,0,0,1);
}